header{
    display: flex;
    justify-content: center;
}

.page-title{
    color: brown;
    border: brown 3px inset;
    text-align: center;
    margin-top: 5px;
    padding: 5px 10px;
    width: fit-content;
}
