#todo-list {
    display: grid;
    row-gap: 8px;
    margin-top: 20px;
    max-height: 450px;
    overflow-y: auto;
}

.input-container , .grid-container {
    padding: 6px 10px;
    display: grid;
    grid-template-columns: 1fr 150px 75px;
    align-items: center;
    column-gap: 5px;
}

.grid-container{
    border-bottom: 1px solid grey;
    grid-template-columns: 200px 1fr 150px 75px;
}

.add-button {
    color: white;
    background: green;
    padding: 2px 10px;
    border: none;
    height: 25px;
    text-align: center;
}

.task-name {
    width: 100%;
    color: blue;
    text-align: center;
}

.task-date {
    width: 100%;
    color: cyan;
    text-align: center;
}

.delete-button {
    color: white;
    background: red;
    border: none;
    text-align: center;
    height: 25px;
}

#result {
    display: none;
    margin-top: 20px;
    text-align: center;
}

.onSuccess {
    color: green;
    text-shadow: 0 0 10px green;
}

.onFailed {
    color: red;
    text-shadow: 0 0 10px red;
}
